@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); body {
    color: #000;
    text-align: center;
    align-items: center;
    max-width: 980px;
    margin: auto;
}

header {
    background-color: rgb(170, 12, 12);
    color: rgb(255, 255, 255);
    font-family: Lobster, sans-serif;
}

h1 {
    font-size: 3rem;
}

.figcap-photo {
    margin: 20px;
    font-size: 15px;
}

.conteiner {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    width: auto;
    height: auto;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

a {
    color: rgb(170, 12, 12);
    text-transform: uppercase;
}

footer {
    background-color: rgb(170, 12, 12);
    color: rgb(255, 255, 255);
    min-height: 40px;
    font-family: Lobster, sans-serif;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
